html {
  font-size:10px;
  padding: 3em 4em;
  line-height: 1.6;
  font-family: 'Roboto Mono', monospace;
  
}
body {
  max-width: 870px;
  margin: 0 auto;
  font-size: 1.2rem;
}
#name {
  font-family: 'Roboto Slab', serif;
}
.work-title{
  display: flex;
  justify-content: space-between;
}
.right {
  text-align: right;
  color: inherit;
}
#name {
  text-align: center;
}
#contact {
  list-style-type: none;
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  display: flex;
  justify-content: center;
  
}
#contact li {
  margin-right:1em;
}
#contact i {
  color: #333;
}
#contact li a {
  text-decoration: none;
  color: #487eb0;
  font-weight: bold;
}
#contact li a[href^="mailto"] {
  color: black;
}
#contact li:last-child {
  margin-right: 0;
}
#contact li:first-child {
  list-style-type: none;
}



.job-container {
  margin-bottom: 3em
}
.work-name, .work-location {
  font-weight: bold;
}
.job-title, .date {
  font-style: italic;
}

/*PROJECTS*/
#projects dd {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
#projects .job-container {
  width: 200px;
  margin: 1em;
  margin-bottom: 0.5em;

}
#projects .job-container ul{
  padding-left: 1em;
  list-style-type: square;
}
#projects a:link,
#projects a:visited,
#projects a:hover,
#projects a:active {
  color: #487eb0;
  text-decoration: none;
}
